---
import Layout from "../layouts/Layout.astro";
import Tile from "../components/Tile.astro";
import Hero from '../components/Hero.astro'
import { Picture } from '@astrojs/image/components';

import planung from '../assets/tische/planung_ahorn.jpg';
import cnc from '../assets/tische/eichenscheibe_fräsen.jpg';
import video from '../assets/tische/schleifen.mp4';

import eichentisch from '../assets/tische/eichentisch.jpg';
import eichenscheibe from '../assets/eichenscheibe.jpg';
import boxi from '../assets/tische/tische.jpg';
import balkontisch from '../assets/tische/balkontisch.jpg';
import schweissen from '../assets/tische/schweissen.jpg';

import '../styles/gallery.scss'

let images = (await Astro.glob('../assets/gallery/tische/*.jpeg')).map(x => x.default);
---
<Layout title="individuelle Massivholztische aus Leipzig- Stammbrüder" hero="true" description="individuelle Massivholztische nach Maß gefertigt in Leipzig"
				flexibleHeader="true">
	<Hero image={eichentisch} alt="gedeckter Ahorntisch in Loft">
		<h1>Wir planen und fertigen Massivholztische nach Maß</h1>
		<p>Handgefertigt von der Tischplatte bis zum Gestell.</p>
	</Hero>
	<section class="full projekte">
		<h2>Massivholztische</h2>
		<h3>Eine Auswahl an Tischen, gefertigt in unserer Werkstatt in Leipzig.</h3>
		<div class="gallery wrapper">
			{images.map(img =>
				<a href="#">
					<Picture src={img} widths={[200, 400, 1600]} loading="lazy"/>
				</a>
			)}
		</div>
	</section>
	<section class="tiles wrapper">
		<Tile image={planung} alt="CAD Konstruktion von einem Tisch" className="color">
			<h2>Planung</h2>
			<p>
				Wir fertigen Massivholztische für die Ewigkeit. Die Auswahl des richtigen Holzes spielt dabei ebenso eine Rolle
				wie die Ästhetik des Untergestells.
			</p>
			<p>
				Wir planen jeden Tisch vorab im CAD Programm. So haben wir vorab bereits einen guten Eindruck von dem Möbelstück.
			</p>
		</Tile>
		<Tile image={cnc} alt="Eichenscheibe wird überfräst" className="color bottom">
			<h2>Fräsen</h2>
			<p>
				Wir arbeiten <em>unkonventionell</em> und verarbeiten sehr breites Holz mit der CNC Fräse, da dies für normale Abrichten und
				Dicktenhobel zu groß ist.
			</p>
			<p>Die Fräse ermöglicht außerdem Schwalbenschwänze und andere Formen einfach einzulassen.</p>
		</Tile>
		<Tile image={schweissen} alt="Schweissen des Gestells" className="color top">
			<h2>Schweißen & Lackieren</h2>
			<p>
				Die Untergestelle und Rahmen fertigen wir zu großen Teilen selbst und können so auf Kundenwünsche indivudell eingehen.
			</p>
			<p>
				Das Gestell lackieren wir entweder selbst oder lassen es extern pulverbeschichten.
			</p>
		</Tile>
		<Tile video={video} alt="Schleifen eines Möbel" className="color video">
			<h2>Schleifen & Ölen</h2>
			<p>
				Im letzten Schritt schleifen wir den Tisch fein und tragen mehrfach Hartwachsöl auf. Die Oberfläche ist
				geschützt und bewahrt zugleich ihre einzigartige Holzstruktur.
			</p>
		</Tile>
	</section>

	<style is:inline>
		.bottom img {
			object-position: bottom;
		}

		.top img {
			object-position: top;
		}

		.video video {
			aspect-ratio: 1/1;
			object-fit: cover;
			object-position: top;
		}

	</style>
	<script is:inline>
		[...document.querySelectorAll('.gallery')].forEach(a => {
			a.addEventListener('click', () => a.classList.toggle('fullscreen'))
		});
		[...document.querySelectorAll('.gallery a')].forEach(a => {
			a.addEventListener('click', e => e.preventDefault())
			a.addEventListener('keyup', e => {
				if (e.code === 'Escape' && a.parentNode.classList.contains('fullscreen')) {
					a.parentNode.classList.remove('fullscreen')
				}
			})

		})
	</script>


</Layout>